@model IEnumerable<Product>
@section Scripts {
    <script src="~/ClientApp/Dist/inline.bundle.js"></script>
    <script src="~/ClientApp/Dist/polyfills.bundle.js"></script>
    <script src="~/ClientApp/Dist/styles.bundle.js"></script>
    <script src="~/ClientApp/Dist/vendor.bundle.js"></script>
    <script src="~/ClientApp/Dist/main.bundle.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>
